form .form-group {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 20px;
}

form input {
	padding: 10px 15px;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #9a9a9a;
	border-radius: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

form .btn {
	margin: 0;
	cursor: pointer;
}

@media all and (min-width: 800px) {
	form .form-row {
		display: flex;
		justify-content: space-between;
	}

	form .form-group {
		flex: 0 0 49%;
	}
}