/*Typography*/

body.home-page {
	background: url(../assets/bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

/*Layout*/

body.home-page section {
	padding-top: 60px;
	padding-bottom: 60px;
}

/*Navigation*/

body.home-page .nav {
	background: transparent;
}

body.home-page .nav .container {
	border-bottom: 1px solid white;
}

body.home-page .nav a {
	color: white;
}

body.home-page .nav .item svg {
	fill: white;
}

/*Tabs*/

body.home-page .tab-set {
	color: white;
	min-height: 500px;
}

body.home-page .tab-set .tabs {
	flex-direction: row;
}

body.home-page .tab-set .tabs label:first-of-type {
	border-top-left-radius: 10px;
}

body.home-page .tab-set .tabs label:last-of-type {
	border-top-right-radius: 10px;
}

body.home-page .tab-set .tabs .tab {
	background-color: #015b01;
}

body.home-page .tab-set .tabs .tab.active {
	background-color: rgba(46, 142, 46, 1);
}

body.home-page .tab-set .tabs .panel {
	background-color: rgba(46, 142, 46, 1);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

body.home-page .tabs #tab-one-label {
	order: 1;
}

body.home-page .tabs #tab-two-label {
	order: 2;
}

body.home-page .tabs #tab-one-panel {
	order: 3;
}

body.home-page .tabs #tab-two-panel {
	order: 4;
}

/*Form*/

body.home-page form input {
	width: 100%;
	background-color: white;
	border: 0;
	border-radius: 5px;
}

body.home-page form input.btn {
	width: 100%;
}

/*Footer*/

body.home-page footer {
	color: white;
}

body.home-page footer .container {
	border-top: 1px solid white;
}

body.home-page footer a {
	color: white;
}

@media all and (min-width: 800px) {

	/*Layout*/

	body.home-page section .column {
		flex: 0 0 60%;
	}

	/*Form*/

	body.home-page form .form-row .form-group:first-of-type input {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	body.home-page form .form-row .form-group:last-of-type input {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

}

@media all and (min-width: 1200px) {

	/*Layout*/

	body.home-page section .column {
		flex: 0 0 40%;
	}

}