.nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: #2e8e2e;
  z-index: 100;
}

.nav ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 10px 25px;
}

.nav a {
  color: #015b01;
  text-transform: uppercase;
  text-decoration: none;
}

.nav li.current a {
  color: white;
  font-weight: bold;
}

.nav .toggle a {
  display: flex;
  align-items: center;
}

.nav .toggle svg {
  width: 35px;
  height: 35px;
  fill: white;
}

.nav .toggle svg.toggle-close {
  display: none;
}

.nav .logo img {
  width: 160px;
  height: auto;
}

.nav .item {
  display: none;
  width: 100%;
}

.nav .item.active {
  display: flex;
}

.nav .item svg {
  width: 25px;
  height: 25px;
  fill: #015b01;
}

@media all and (min-width: 800px) {
  .nav ul {
    justify-content: center;
  }

  .nav li {
    padding: 10px 5px;
  }

  .nav .toggle {
    display: none;
  }

  .nav .logo {
    flex: 1 0 auto;
  }

  .nav .item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    text-align: center;
  }

  .nav .item:last-of-type {
    padding-right: inherit;
  }
}

@media all and (min-width: 1200px) {
  .nav .item {
    padding-left: 15px;
    padding-right: 15px;
  }
}